APP_NAME=Conciliador XML API
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

DB_HOST=192.168.10.9
DB_PORT=5432
DB_NAME=biable01
DB_USER=postgres
DB_PASSWORD=postgres

WATCHER_SCAN_EXISTING_ON_STARTUP=false
WATCHER_COPY_WAIT_SECONDS=2.0
PROCESSED_ZIP_RETENTION_DAYS=10
